{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Uncommon Destinations{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static '/uncommon/styles.css' %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.3"></script>
    </head>

    {% block body %}
    {% endblock%}

</body>
</html>